[data-og-internal-id="4bdd44fddbc6"] {
  gap: 0px;
  height: 214.2px;
  left: 288.1px;
  padding: 0px;
  position: absolute;
  top: 356px;
  width: 242.2px;
}

[data-og-internal-id="d68842133869"] {
  gap: 0px;
  height: 413.2px;
  left: 205px;
  padding: 0px;
  position: absolute;
  top: 45.2px;
  width: 487.5px;
}

[data-og-internal-id="666fb8272bab"] {
  gap: 0px;
  height: 94px;
  padding: 0px;
  width: 315px;
}

[data-og-internal-id="1b992825c28a"] {
  gap: 0px;
  height: 31px;
  padding: 0px;
  width: 129px;
}
